*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color: #F5F7FB;
}
.quiz-main-part{
  padding-top:100px;
}
.quiz-home-part {
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:#4D5B9E;
}
.quiz-title{
  font-size:60px;
}
.quiz-home-part>span{
  font-size:20px;
  margin:20px;
}
.quiz-start-btn,.quiz-start-btn:hover{
  background-color:#4D5B9E;
  color:white;
  margin:20px;
  width: 193px;
  height: 52px;
}
.bob1{
  bottom:0;
}
.bob2{
  right:0;
  top:0;
}
.start--form{
 flex-direction: column;
 justify-content: center;

}
input{
  width: 100%;
}

.quiz--list{
  /* border: 2px solid; */
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-bottom: 2em;
}

.quiz--list--modifier{
  justify-content: center;
}

.quiz--info{
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.quiz--info > h5{
  font-weight: 700;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.quiz--check--btn{
  color: #F5F7FB;
  background-color: #4D5B9E;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.25;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  /* margin-top: 2em; */
}

/* Quiz page */

.quiz{
  border-bottom: 0.79px solid #DBDEF0;
}

.quiz--options{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 0.8125em;
  /* gap: 13px; */
  margin-bottom: 1em;
}

.quiz--options > button{
  border: 0.794239px solid #4D5B9E;
  border-radius: 8px;
  font-size: 0.625rem;
  line-height: 1.25;
  padding: 0.5em 2em;
  color: inherit;
}

.answer-btn-selected{
  background: #D6DBF5;
}

.answer-btn{
  background: #F5F7FB;
}

.answer-correct{
  background: #94D7A2;
}

.answer-incorrect{
  background: #F8BCBC;
}

.loader--container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}